body {
    background-color: #E0E0E0;
}

.doc_header {
    background-color: #4CAF50;
    margin-top: 15px;
    padding: 10px;
    border-radius: 7px;
}




/* Datos Clabes */
.datos_clave_seccion_titles {
    font-size: 25px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: grey;
}


/* Activos Actuales */

.stl_widgets_section {
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
    color: black;
}

.stl_widgets_section_1 {
    background-color: #424242;
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
    color: white;
}

.header_titles {
    margin: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    
}

.header_icon_box {
    border-right-style: solid;
    border-right-width: 2px;
    width: 50px;

}

.header_icon_size {
    font-size: 30px;    
}

.header_item_title {
    font-size: 20px;
    margin: 0px;
    letter-spacing: 2px;
}

.header_item_vaule {
    font-size: 25px;
    margin: 0;
    letter-spacing: 3px;
} 


/*box*/

.box-tit-12{
    margin-top: 10px;
    background-color: orange;
    padding: 5px;
    border-radius: 7px;
    padding: 10px;
}


.box_8{
    background-color: white;
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
    height: 400px;
    
}

.box_4{
    background-color: white;
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
    height: 400px;
    
}

.low {
    color: #2196f3;
}

.medium {
    color: #fbc02d;
}

.alta {
    color: #ef5350;
}

.tpr {
    font-size: 20px;
}